@page
@model Paqueteria.Pages.Aplicaciones.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Aplicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aplicacion.NombreApp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aplicacion.NombreApp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aplicacion.DescripcionApp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aplicacion.DescripcionApp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aplicacion.DetalleApp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aplicacion.DetalleApp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aplicacion.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aplicacion.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aplicacion.FinalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aplicacion.FinalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aplicacion.EstatusID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aplicacion.EstatusID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Aplicacion.AplicacionID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
