@page
@model Paqueteria.Pages.Aplicaciones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aplicacion[0].NombreApp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aplicacion[0].DescripcionApp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aplicacion[0].DetalleApp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aplicacion[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aplicacion[0].FinalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aplicacion[0].EstatusID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Aplicacion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreApp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionApp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetalleApp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstatusID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AplicacionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AplicacionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AplicacionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
