@page
@model Paqueteria.Pages.Paquetes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paquete[0].NombrePck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paquete[0].DescripcionPck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paquete[0].DetallePck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paquete[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paquete[0].FinalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paquete[0].Estados)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Paquete) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionPck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetallePck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estados.NombreEdo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PaqueteID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PaqueteID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PaqueteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
